# Exported functions
export(calc_photosynthesis)
export(calc_michaelis_menten_constants)
export(calc_stomatal_coeff)
export(calc_electron_transport_rate)
export(assim)
export(arrh)
export(peaked_arrh)
export(solve_ci)
export(quadratic)
export(is_close)
